<!-- HEADER -->
<div class="">
    <a href="/sessions/new">Client Login</a>
</div>
<div class="">
    <a href="/projects">Case Studies</a><a href="/about">About Us</a><a href="/">Home</a><a href="/quotes/new">Request Quote</a><a href="/methods">Methods</a>
</div>
<!-- END HEADER -->
<h2>Albion Environmental</h2>
<img src="" alt="">
<span>Specializing in xyz Testing since 1989...</span>
<span>Marketing</span>
<p>(Not Affiliated with Albion Environmental California)</p>
<!-- FOOTER -->
<div class="">
<a href="/quotes/new">Request Quote</a>
<a href="/sessions/new">Client Login</a>
</div>
<!-- END FOOTER -->
