<div class="">
    <a href="/sessions/new">Client Login</a>
</div>
<div class="">
    <a href="/projects">Case Studies</a><a href="/about">About Us</a><a href="/">Home</a><a href="/quotes/new">Request Quote</a><a href="/methods">Methods</a>
</div>
<img src="/assets/3.jpg" alt="">
<p>Methods, Content</p>