<!-- COPY HEADER HERE -->

<div id="wrapper">
    <div class="side_bar">
    </div>
    <div class="right_wrapper">
        <div class="Client">
            <h3>Name of Client goes here</h3>
            <p>Information about the client goes here</p>
        </div>
        <div class="Client">
            <h3>Name of Client goes here</h3>
            <p>Information about the client goes here</p>
        </div>
        <div class="Client">
            <h3>Name of Client goes here</h3>
            <p>Information about the client goes here</p>
        </div>
    </div>
</div>



<!-- COPY FOOTER HERE -->
